
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@400;700&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.imagem-cabeçalho {
    cursor: pointer;
}

.cabeçalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color:  rgba(255, 242, 231, 1);
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu-item:hover{
    color: #2F2325;
    transition-duration: 0.2s;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.3px solid #E5E5E5;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-pricipal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.conteudo-principal-texto {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.conteudo-principal-botao {
    border-radius: 20px;
    width: 185px;
    height: 67px;
    background-color: #ECD6C4;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.conteudo-principal-botao:hover{
    background-color: #4e4648;
    transition-duration: 0.2s;
}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 16px;
    padding-top: 42px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color:#FFF2E7;
}

.conteudo-secundario-texto {
    font-family: 'Sarala', sans-serif;
    font-weight: 300px;
    font-size: 18px;
    color:#ECD6C4;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
    height: 48px;
    display: block;
   margin: 0 auto;
}